{% extends 'base.html.twig' %}


{% block body %}
    <h1>Nejčastějíší dotazy</h1>
    {% for faq in faqs %}
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{ faq.question }}</h4>
                <p class="list-group-item-text">{{ faq.answer }}</p>
            </div>
        </div>
    {% endfor %}
    <a href="{{ path("question") }}">Nenašli jste co jste hledali? Kontaktujte nás.</a>
{% endblock %}
