{% extends 'base.html.twig' %}

{% block body %}
    {% include ":components:breadcrumb.html.twig" %}
    <div class="row">
        {% include 'components/list.html.twig' %}
    </div>
{% endblock %}

