{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'components/list.html.twig' %}
    </div>


    {% include ':components:paginator.html.twig' %}
{% endblock %}

