{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'components/list.html.twig' %}
        {% include 'components/pagination.html.twig' %}
    </div>
{% endblock %}

