{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'components/list.html.twig' %}
    </div>
    <div class="row">
        {% include "components/paginators/homepage.html.twig" %}
    </div>
{% endblock %}

