{% extends 'base.html.twig' %}

{% block body %}
    {% for question in questions %}
        <div class="col-sm-12 col-lg-12 col-md-12">
            <h3>{{ question.text }}</h3>

            {{ answers[question.id].text }}
        </div>
    {% endfor %}
{% endblock %}

