{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Změnit heslo</button>
    {{ form_end(form) }}
{% endblock %}