{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.text) }}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Odeslat</button>
    {{ form_end(form) }}

{% endblock %}